*:not(option){
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    text-align: justify;
}

a{
    color: white;
}
a:hover{
    color: blue;
    text-decoration: none;
}
.navBarColor{
    color: white;
}

.dropdownColor{
    background-color: #e35d6a;
}
.CarouselCSS{
    height: 500px;
    width: 1000px; 
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.CarouselIMG{    
    border-radius: 25px;
}
.indexBorder{
    border-radius: 25px;
}
.indexH1{
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

.indexText{
    margin-left: 20px;
    margin-right: 20px;
}
.indexTextDiv{
    background-color: #e35d6a;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.videoDiv{
    margin-top: 30px;
    margin-bottom: 15px;
    width: 600px;
    height: 400px;
}
.kozepre{
    width: 560px;
    height: 315px;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}
.kozepreSzoveg{
    text-align: center;
}
.buttonCSS{
    border: #dc3545;
    background-color: #dc3545;
}
.infoColorDiv{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}